.FondoPerfil{
    background-color: rgb(255, 255, 255);
    
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Sombra suave */
    margin: auto;
    margin-top: 200px;
    width: 85%;
    height: 50vh;
    margin-bottom: 200px;
}


.Perfil{
    width: 100px; /* Ajusta el tamaño según lo que necesites */
    height: 100px;
    border-radius: 50%;
    margin-left: 30px;
    margin-top: 20px;
    
    object-fit: cover;/* Asegura que la imagen se ajuste correctamente */
    overflow: hidden; 
}

.Nombre{
display: flex;
align-items: center;

}

.Usuario_2{

    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 20px;
}

.Tread--estilo{
    font-size: 20px;
    margin-left: 20px;
}
.Descripcion{

    margin-top: 20px;
    margin-left: 20px;
}

.Boton_Modificar{
    margin-left: 20px;
border-top: none;
border-right: none;
border-left: none;
background-color: white;
color: black;

}
.container_Favoritos{
    
    width: 500px;
    height: 500px;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    position: relative;
    margin-left: 73%;
    margin-top: -180px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2); /* Sombra suave */
}



.Favoritos2{
    z-index: 20;
    position: absolute; /* Posiciona este elemento relativo a .container_Favoritos */
    top: 50%; /* Ajusta la posición vertical */
    left: 50%; /* Ajusta la posición horizontal */
    transform: translate(-50%, -50%); /* Centra el elemento dentro del contenedor */
    margin-top: -200px; /

    
   
}

.Carrousel{
    z-index: 1;
    width: 100%; /* Ajusta el ancho del carrusel si es necesario */
    height: auto; /* Ajusta la altura del carrusel si es necesario */

}


/* Cambiar el color de los botones del carrusel */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: black; /* Cambia el color de fondo a negro */
    border-radius: 50%; /* Opcional: hace que los botones sean circulares */
    width: 40px; /* Ajusta el tamaño del botón */
    height: 40px;
}

.carousel-control-prev,
.carousel-control-next {
    background-color: transparent; /* Asegura que el fondo del contenedor sea transparente */
    border: 2px solid black; /* Agrega un borde negro */
    border-radius: 50%; /* Hace que el contenedor sea circular */
    width: 50px; /* Ajusta el tamaño del contenedor */
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}


body{
    margin: 0;
}

#end{
    background: #0a0a0a;
}