<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="conexionDB"
			 connectionString="Data Source=LAPTOP-MISM8TAH\KEVIN;Initial Catalog=CafeAirRodCoffe;Integrated Security=True;Encrypt=True;Trust Server Certificate=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

	<system.webServer>
		<handlers>
			<add name="aspNetCore"
				 path="*"
				 verb="*"
				 modules="AspNetCoreModuleV2"
				 resourceType="Unspecified" />
		</handlers>
		<aspNetCore processPath="dotnet"
					arguments=".\TuProyecto.dll"
					stdoutLogEnabled="false"
					stdoutLogFile=".\logs\stdout"
					hostingModel="InProcess" />
	</system.webServer>
</configuration>
