@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* ********************************** */
/*               HEADER               */
/* ********************************** */



/* Boton para soporte*/

/* From Uiverse.io by gagan-gv */ 
/* From Uiverse.io by gagan-gv */ 
/* From Uiverse.io by gagan-gv */ 
.btn {
    
    position: relative;
    display: flex;
    overflow: hidden;
    cursor: pointer;
    width: 150px;
    height: 50px;
    background-color: #eeeeed;
    border-radius: 80px;
    border: none;
    padding: 0 80px;
    transition: all .2s ease;
    justify-content: center;
    align-items: center;
   }
   
   .btn:hover {
    transform: scale(1.1);
   }
   
   .btn span {
    position: absolute;
    z-index: 99;
    width: 150px;
    height: 50px;
    border-radius: 80px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    font-size: 17px;
    text-align: center;
    line-height: 50px;
    letter-spacing: 2px;
    color: #eeeeed;
    background-color: #1f1f1f;
    padding: 0 10px;
    transition: all 1.2s ease;
   }
   
   .btn .container {
    display: flex;
    width: 150px;
    border-radius: 80px;
    line-height: 50px;
   }
  
   
   .btn svg {
    padding: 0 5px;
    opacity: 0;
   }
   
   .btn .container svg:nth-of-type(1) {
    transition-delay: 0.65s;
   }
   
   .btn .container svg:nth-of-type(2) {
    transition-delay: 0.8s;
   }
   
   .container svg:nth-of-type(3) {
    transition-delay: 0.5s;
   }
   
   .btn:hover span {
    opacity: 0;
   }
   
   .btn:hover svg {
    opacity: 1;
   }
  
  
/*Carrito */
/* From Uiverse.io by JaydipPrajapati1910 */ 
/* Botón Checkout personalizado, sin conflictos */
.btn-checkout {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    gap: 15px;
    background-color: #181717;
    outline: 3px #181717 solid;
    outline-offset: -3px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 400ms;
  }
  
  .btn-checkout .texto-checkout {
    color: white;
    font-weight: 700;
    font-size: 1em;
    transition: 400ms;
  }
  
  .btn-checkout svg path {
    transition: 400ms;
  }
  
  .btn-checkout:hover {
    background-color: transparent;
  }
  
  .btn-checkout:hover .texto-checkout {
    color: #181717;
  }
  
  .btn-checkout:hover svg path {
    fill: #181717;
  }
  







.container-hero {
	background-color: #ffffff;
}

.hero {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem 0;
}

.customer-support {
	display: flex;
	align-items: center;
	gap: 2rem;
}

.customer-support i {
	font-size: 3.3rem;
}

.content-customer-support {
	display: flex;
	flex-direction: column;
}

.container-logo {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.container-logo i {
	font-size: 3rem;
}

.container-logo h1 a {
	text-decoration: none;
	color: #000;
	font-size: 3rem;
	text-transform: uppercase;
	letter-spacing: -1px;
}

.container-user {
	display: flex;
	gap: 1rem;
	cursor: pointer;
}

.container-user .fa-user {
	font-size: 3rem;
	color: var(--primary-color);
	padding-right: 2.5rem;
	border-right: 1px solid #000000;
}

.container-user .fa-basket-shopping {
	font-size: 3rem;
	color: var(--primary-color);
	padding-left: 1rem;
}

.content-shopping-cart {
	display: flex;
	flex-direction: column;
}

/* ************* NAVBAR ************* */
.navbar container {
	background-color: #000;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 0;
}

.navbar .fa-bars {
	display: none;
}

.menu {
	display: flex;
	gap: 2rem;
}

.menu li {
	list-style: none;
}

.menu a {
	text-decoration: none;
	font-size: 1.3rem;
	color: var(--dark-color);
	font-weight: 600;
	text-transform: uppercase;
	position: relative;
}

.menu a::after {
	content: '';
	width: 1.5rem;
	height: 1px;
	background-color: #fff;
	position: absolute;
	bottom: -3px;
	left: 50%;
	transform: translate(-50%, 50%);
	opacity: 0;
	transition: all 0.3s ease;
}

.menu a:hover::after {
	opacity: 1;
}

.menu a:hover {
	color: #fff;
}

.search-form {
	position: relative;
	display: flex;
	align-items: center;
	border: 2px solid #fff;
	border-radius: 2rem;
	background-color: #fff;
	height: 4.4rem;
	overflow: hidden;
}

.search-form input {
	outline: none;
	font-family: inherit;
	border: none;
	width: 25rem;
	font-size: 1.4rem;
	padding: 0 2rem;
	color: #777;
	cursor: pointer;
}

.search-form input::-webkit-search-cancel-button {
	appearance: none;
}

.search-form .btn-search {
	border: none;
	background-color: var(--primary-color);
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	padding: 1rem;
}

.btn-search i {
	font-size: 2rem;
	color: #fff;
}




/* ************* NAVBAR ************* */
.navbar_container {
    background-color: #ffffff;
    color: #000;
    display: flex;
    justify-content: space-between;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
  }
  
  .navbar .fa-bars {
    display: none;
  }
  
  .menu {
    display: flex;
    background-color: #ffffff;
    gap: 2rem;
  }
  
  .menu li {
    list-style: none;
  }
  
  .menu a {
    text-decoration: none;
    font-size: 1.3rem;
    color: var(--dark-color);
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
  }
  
  .menu a::after {
    content: '';
    width: 1.5rem;
    height: 1px;
    background-color: #ffffff;
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%, 50%);
    opacity: 0;
    transition: all 0.3s ease;
  }
  
  .menu a:hover::after {
    opacity: 1;
  }
  
  .menu a:hover {
    color: #fff;
  }
  
  .search-form {
    position: relative;
    display: flex;
    align-items: center;
    border: 2px solid #fff;
    border-radius: 2rem;
    background-color: #fff;
    height: 4.4rem;
    overflow: hidden;
  }
  
  .search-form input {
    outline: none;
    font-family: inherit;
    border: none;
    width: 25rem;
    font-size: 1.4rem;
    padding: 0 2rem;
    color: #777;
    cursor: pointer;
  }
  
  .search-form input::-webkit-search-cancel-button {
    appearance: none;
  }
  
  .search-form .btn-search {
    border: none;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 1rem;
  }
  
  .btn-search i {
    font-size: 2rem;
    color: #fff;
  }
/*Codigo para Registrar */

.offcanvas {
    background-color: #222 !important; /* Un negro menos intenso */
}

.offcanvas a {
    color: white !important; /* Texto en blanco */
}
/* aqui va el usuario*/
.form-control2{
    border-top: none;
    border-left: none;
    border-right: none;
    width: 400px;
}
/* footer*/
.end{
    
    
    background-color: #000;
    margin: 0;
   width: 100%;
   height: 100%;
   margin-top: -5px;
    padding: 120px;
    position: static;
   
    border: 0;
    z-index: 1;
    
}
/* posicion de imagen */
.moverElmain{

  position: relative;
}

#cofflog{
 

    justify-content: left;
    background-position: left top; /* Alinea la imagen a la izquierda arriba */
    height: 1200px;
    background-repeat: no-repeat;
    width :  50%;
    margin: 20px;
    margin: 0;
    background-image: url(imagenes/cofflog.png);
    background-attachment: fixed;
    
    
    
}
#fechaNacimiento{
    margin-right: 20px;
    margin-top: none;
    margin-left: none;
    margin-right: none;
}
.login{
    position: absolute;
   
    background: rgb(255, 255, 255);
  
 
    height: 400px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
    margin: 0;
    top: 120px;
    left: 800px;
    height: 1000px;
    width: 800px;
    border-radius: 20px;
    
    
    
    z-index: 2;
}


.inputbox input {
    margin-top: 8px;
  
    height: 30px;
  
    width: 100%;
  
    border: none;
  
    color: rgb(180, 180, 180);
  
    padding: 5px;
  
    background: transparent;
  
    border-bottom: 2px solid rgb(134, 131, 131);
  }
  
  ::placeholder {
    color: rgb(134, 131, 131);
  
    text-transform: capitalize;
  }
  
  .inputbox select {
    margin-top: 8px;
  
    width: 100%;
  
    height: 35px;
  
    background: transparent;
  
    border: none;
  
    border-bottom: 2px solid rgb(134, 131, 131);
  
    color: #ffff00;
  }
  
  .inputbox textarea {
    width: 100%;
  
    min-height: 100px;
  
    resize: none;
  
    margin-top: 8px;
  
    padding: 5px;
  
    border: none;
  
    background: transparent;
  
    border: 2px solid rgb(134, 131, 131);
  
    color: rgb(180, 180, 180);
  
    border-radius: 5px;
  }


  

.Registro_Usuario{
    text-align: center;
    margin-top: 30px;
    font-family: 'Cormorant', serif;
    
    
    
}
.login_Registro{
    justify-content: center;
    align-items: center; /* Centra verticalmente */
    height: 100vh; /* Asegura que ocupe toda la pantalla */
    text-align: center;
}
.Contraseña{
    font-family: 'Cormorant', serif;
    text-align: left;
    margin-left: 20px;
    margin-top: 50px;
}

/*boton*/
.Contraseña_Usuario{
    border-top: none;
    border-left: none;
    border-right: none;
    width: 340px;
    display: block;
    margin: 0 auto;
}
.Inpt_Nombre{
    font-family: 'Cormorant', serif;
}

.NombreU{
    border-top: none;
    border-left: none;
    border-right: none;
    margin-top: 20px;
}

.form-check2{
    margin: 20px;
}

.BTN_confirmar{
  
  
    
    flex-direction: column;
    display: block;
    margin: 0 auto;
    width: max-content; /* Ajusta el ancho al contenido */
 

    
}

.BTN--2{
    border-top: none;
    border-right: none;
    border-left: none;
    background-color: #ffffff;
    margin-bottom: 50px;
    transition: box-shadow 0.3s ease; /* Transición suave para el sombreado */
  
 margin-right: 10px ;
    padding: 20px;
}
.BTN--2:hover {
    box-shadow: 0px 4px 10px rgba(0, 243, 89, 0.2); /* Sombra suave */
    
}
.BTN--3{
    border-top: none;
    border-right: none;
    border-left: none;
    background-color: #ffffff;
    transition: box-shadow 0.3s ease; /* Transición suave para el sombreado */
    
  margin-left: 10px;
    padding: 20px;
}
.BTN--3:hover {
    box-shadow: 0px 4px 10px rgba(106, 0, 255, 0.2); /* Sombra suave */
    
}
p{
    text-align: center;

}
/* Asegúrate de que el body y el contenedor principal ocupen toda la altura de la ventana */
body {
    display: flex;
    flex-direction: column; /* Alinea los elementos en columna */
    min-height: 100vh; /* Asegura que el body ocupe toda la altura de la ventana */
    margin: 0; /* Elimina márgenes por defecto */
}

main {
    flex: 1; /* Hace que el contenido principal ocupe el espacio disponible */
}

#end {
    background: #0a0a0a;
    width: 100%; /* Asegura que tome todo el ancho */
    padding: 20px; /* Espaciado interno */
    text-align: center; /* Centra el contenido del footer */
    margin-top: 0; /* Espaciado superior opcional */
}

.SoyHumano{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.LoginCreada{
    color: #000;
    text-decoration: none;
}


@media (max-width: 1200px) { 
    .login {
      position: absolute;
      top: 70%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 90%; /* Opcional para mejor ajuste */
    }
    p{
        display: none;
    }
    
  }
  
  